name: Secrets and Variables

on:
  workflow_dispatch:

jobs:
  read_secrets:
    runs-on: ubuntu-24.04
    env:
      MOCK_SECRET_TOKEN: ${{ secrets.MOCK_SECRET_TOKEN }} 
      MOCK_LOCAL_SECRET: ${{ secrets.MOCK_LOCAL_SECRET }}
      NAME_ENVIRONMENT: ${{ vars.NAME_ENVIRONMENT }} 
      ANSWER_REPOSITORY: ${{ secrets.ANSWER_REPOSITORY }}
    steps:
      - name: Print Secrets
        run: |
          echo "MOCK_SECRET_TOKEN (environment secret): $MOCK_SECRET_TOKEN"
          echo "MOCK_LOCAL_SECRET (repository secret): $MOCK_LOCAL_SECRET"

        steps:
          - name: Print Variables
            run: |
              echo "NAME_ENVIRONMENT (environment variable): $NAME_ENVIRONMENT"
              echo "ANSWER_REPOSITORY (repository variable): $ANSWER_REPOSITORY"
