name: Secrets and Variables

on:
  workflow_dispatch:

jobs:
    env:
      ANSWER_REPOSITORY: ${{ vars.ANSWER_REPOSITORY }}
      MOCK_LOCAL_SECRET: ${{ secrets.MOCK_LOCAL_SECRET }}
  staging:
    runs-on: ubuntu-24.04
    # set an environment from where to load the environment secrets and variables
    # MOCK_SECRET_TOKEN and NAME_ENVIRONMENT are environment variables that I created
    # in an environment called staging
    environment: staging
    env:
      MOCK_SECRET_TOKEN: ${{ secrets.MOCK_SECRET_TOKEN }} 
      NAME_ENVIRONMENT: ${{ vars.NAME_ENVIRONMENT }} 
    steps:
      - name: Print Secrets
        run: |
          echo "MOCK_SECRET_TOKEN (environment secret): $MOCK_SECRET_TOKEN"
          echo "MOCK_LOCAL_SECRET (repository secret): $MOCK_LOCAL_SECRET"

      - name: Print Variables
        run: |
          echo "NAME_ENVIRONMENT (environment variable): $NAME_ENVIRONMENT"
          echo "ANSWER_REPOSITORY (repository variable): $ANSWER_REPOSITORY"
  production:
    runs-on: ubuntu-24.04
    environment: production
    env:
      MOCK_SECRET_TOKEN: ${{ secrets.MOCK_SECRET_TOKEN }} 
      NAME_ENVIRONMENT: ${{ vars.NAME_ENVIRONMENT }} 
    steps:
      - name: Print Secrets
        run: |
          echo "MOCK_SECRET_TOKEN (environment secret): $MOCK_SECRET_TOKEN"
          echo "MOCK_LOCAL_SECRET (repository secret): $MOCK_LOCAL_SECRET"

      - name: Print Variables
        run: |
          echo "NAME_ENVIRONMENT (environment variable): $NAME_ENVIRONMENT"
          echo "ANSWER_REPOSITORY (repository variable): $ANSWER_REPOSITORY"
